[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Pytest = "*"
Lesscpy = "*"
CSSMin = "*"
JSMin = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Assets = "*"
Flask-Session = "*"
Flask-WTF = "*"
PyMySQL = "*"
Redis = "*"
email_validator = "*"
Python-Dotenv = "*"

[requires]
python_version = "3.8"
