{% extends "layout.jinja2" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="form-wrapper">
  <div class="logo">
    <img src="{{ url_for('static', filename='dist/img/logo@2x.png') }}" alt="logo" />
  </div>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <h1>Log In</h1>
  <form method="POST" action="/">
    {{ form.csrf_token }}
    <fieldset class="email">
      {{ form.user_email.label }}
      {{ form.user_email(placeholder='youremail@example.com') }}
      {% if form.user_email.errors %}
      <ul class="errors">
        {% for error in form.user_email.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </fieldset>
    <fieldset class="password">
      {{ form.user_password.label }}
      {{ form.user_password }}
      {% if form.user_password.errors %}
      <ul class="errors">
        {% for error in form.user_password.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </fieldset>
    <div class="submit-button">
      {{ form.submit_button }}
    </div>
    <div class="login-signup">
      <span>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up.</a></span>
    </div>
  </form>
</div>
{% endblock %}